#centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#centeredFont
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
}

#rowDown { border-top-style: none; border-right-style: none;border-bottom-style: none;border-left-style: none; background-color: none;
padding: 0px;}

#tableRow{
  padding: 2%;
}

.line{
  /* width: 112px; */
  /* height: 47px; */
  padding: 3px;
  border-bottom: 1px solid grey;
  /* position: absolute; */
  }

  #over_map { position: absolute; top: 10px; left: 10px; z-index: 99; width: 100%; }

  #wrapper { position: relative;  height: 91vh; width: 100%;
    overflow-x: hidden;
    overflow-y: hidden}